# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata


# R
.Rapp.history
*.txt
*.html
vignettes/*.R
R/*.eps
R/*.pdf


# Mac OSX
.DS_Store

# Data
*.csv
*.xls
*.xlsx

# TMB
*.o
*.so

# Emacs backup files
*~

# Directories that get created but don't need to be pushed
#  lib arises from running covr::report(.....)
inst/doc
doc
Meta
lib


vignettes/huffaker/
vignettes/mve_understanding_files/
zip-file/
